body {
  font-size: 16px;
  /* color: #fff; */
  /* margin: 0; */
  font-family: 'Oxygen', sans-serif;
}

:root {
  --my-brown: #93592B;
  --my-green: #317E17;
  --my-blue: #293FCC;
}

.two-columns {
  border: 2px black solid;
}

.column {
  float: left;
  padding: 10px;
}

.right {
  width: 34%;
  float: right;
  border: 2px red solid;
}

.left {
  border: 2px blue solid;
  width: 64%;
}


/** HEADER **/

header {
  position: sticky;
  top: 0;

}

#header-nav {
  /* background-color: #f6b319; */
  background-color: #000000;
  border-radius: 0;
  border: 0;
  padding: 5px;
}

.container {
  /* margin-left: 30px; */
  /* margin-right: 30px; */
}

/* LOGO */

#logo-img {
  float: left;
  width: 10%;
  height: auto;
  margin: 10px 15px 10px 0;
}

.navbar img {
  width: 100%;
  height: auto;
}

/* END LOGO */


/* Website name */

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin: auto;
  padding: 10px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

/* END Website name */
/* Icon Menu */

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #fff;
  text-align: center;
}

#nav-list a:hover {
  background: #adadad;
  color: black;
}

#nav-list a span {
  font-size: 1.8em;
}

/* Warning! con media XS scazza... */
/* .navbar-header { */
/* position: absolute; */
/* } */

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid white;
}

.navbar-header button.navbar-toggle:hover .icon-bar {
  /* background-color: #fff; */
  border-color: #000;
}

.navbar-header button.navbar-toggle:focus .icon-bar {
  background-color: #000;
  border-color: #000;
}

#navbarToggle {
  /* position: relative; */
  /* top: 50%; */
  transform: translateY(50%);
  clear: right;
  padding: 10px;
  /* margin: 8px; */
  /* height: 30px; */
  /* top: calc(50% - 15px); */
}

.navbar-header button.navbar-toggle {
  clear: both;
  /* margin-top: -40px; */
}

.fa-solid,
.fa-regular {
  padding-bottom: 10px;
}

/* END HEADER */



/* MAIN CONTENT */

.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.jumbotron.img {
  max-width: 100%;
  height: auto;
}

.myMap {
  padding: 5px;
  text-align: center;
}

/* END MAIN CONTENT */



/* ==== FOOTER =============================================== */

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 10px;
  background-color: #000;
  color: white;
  border-top: 0;
  width: 100%;
  font-style: italic;
}

.panel-footer div.row {
  margin-bottom: 25px;
}

#socials a:hover,
#socials a:focus {
  text-decoration: none;
  color: inherit
}

.fa-brands {
  padding-bottom: 20px;
}

.fa-instagram {
  color: #C13584;
}

.fa-youtube {
  color: #FF0000;
}

.fa-whatsapp {
  color: #075e54;
}

.mycopyright {
  font-size: 0.6em;
  padding-bottom: 15px;
}

/* END FOOTER */









/****************************************** Large devices only ******************************************/
@media (min-width: 1200px) {

  .navbar-header {
    position: absolute;
  }

  .container .jumbotron {
    /* background: url('../images/DJI_waves.jpg') no-repeat; */
    /* width: 100%; */
    /* height: auto; */
    /* object-fit: contain; */
  }
}

/****************************************** Medium devices only ******************************************/
@media (min-width: 992px) and (max-width: 1199px) {

  .navbar-header {
    position: absolute;
  }

  .container .jumbotron {
    /* background: url('../images/DJI_waves.jpg') no-repeat; */
    /* height: 558px; */
  }
}

/****************************************** Small devices only ******************************************/
@media (min-width: 768px) and (max-width: 991px) {

  .navbar-header {
    position: absolute;
  }

  .container .jumbotron {
    /* background: url('../images/DJI_waves.jpg') no-repeat; */
    /* height: 432px; */
  }

}

/****************************************** Extra small devices only ******************************************/
@media (max-width: 767px) {

  /* Header */

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  /* Restaurant name */
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
    1vw=1% of viewport width
  }

  /* Collapsed nav menu text */
  #collapsable-nav {
    clear: right
  }

  #collapsable-nav a {
    font-size: 1.2em;
  }

  /* Collapsed nav menu glyph */
  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

  /* Footer */
  .panel-footer section {
    text-align: center;
  }

  .panel-footer section hr {
    width: 50%;
  }

  .panel-footer {
    font-size: 11px;
  }

  .fa-brands {
    padding-bottom: 20px;
  }

  .fa-instagram {
    color: #C13584;
  }

  .fa-youtube {
    color: #FF0000;
  }

  .fa-whatsapp {
    color: #075e54;
  }

  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    /* margin-top: 30px; */
    /* padding: 0; */
  }
}


/****************************************** Super extra small devices Only ******************************************/
@media (max-width: 479px) {

  /* Header */
  /* /* .navbar-brand h1 { */
  /* Restaurant name */
  /* padding-top: 5px; */
  /* font-size: 6vw; */
  /* } */

  /* End Header */

}