
  

  #blog-slider{
    /* height: 500px; */
    border: 1px solid black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: black;
    padding: 40px 0 10px 0;
  }
  
  .container{
    width: 1600px;
  }
  
  .subcontainer{
    width: 95%;
    margin: auto;
  }
  
  .my-slider {
    /* height: 400px; */
  }
  
  
  .controls {
    /* z-index: 1; */
    /* Adjust for matching the slider height */
    height: 300px; 
    list-style: none;
    position: absolute;
    left: 0;    
    width: 100%;    
    display: flex;
    align-items: center;    
    justify-content: space-between;
  }
  
  
  button {
    margin: 2.5%;
    background-color: black;
    opacity: 0.8;
    color: white;
    box-shadow: none;
    border: 0px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  button:hover {
    color: rgb(160, 160, 160);
  }
  
  .slide-img{
    width: 100%;
    height: 300px;
    /* border: 1px solid white; */
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;
    border-radius: 5px;
  }
  
  .slide-img:hover{
    filter: brightness(60%)
  }
  
  .slide-title a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: 400;
  }
  
  .slide-title a:hover {
    color: gray;
  }
  
  .img-andes{
    background-image: url(../images/slider-andes.jpg);
  }
  
  .img-sweden{
    background-image: url(../images/slider-sweden.jpg);
  }

  .img-andalusia{
    background-image: url(../images/slider-andalusia.jpg);
  }
  
  .img-mexico{
    background-image: url(../images/slider-mexico.jpg);
  }

  .img-dolomites{
    background-image: url(../images/slider-dolomites.jpg);
  }

  .img-norway{
    background-image: url(../images/slider-norway.jpg);
  }
  
  .img-bolivia{
    background-image: url(../images/slider-uyuni.jpg);
  }
  
  @media(max-width:1600px){
    .container{
      width: 100%;
    }
  }